replicaCount: 1

image:
  repository: cr.yandex/crppq9qttclm6v54ocop/frontend-app
  pullPolicy: IfNotPresent
  tag: 55

imagePullSecrets: 
  - name: registry-credentials


serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

docker:
  server: cr.yandex
  username: YCAJEHoR92BwWz_s5D0O-SH02
  password: YCPwvO-UykaxcekmhTNVgTKOU5I8r8T9Ka76eGTy  
  email: user@example.com   


service:
  type: ClusterIP
  port: 80


ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}